.header {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 60px 0px;
}

.box-content {
  overflow-y: scroll;
  border-collapse: collapse;
  display: block;
}
.general-btn {
  height: 50px;
  width: 180px;
  font-size: 20px;
}
.wrapper {
  display: grid;
  justify-content: center;
}
.wrapper table {
  border-style: none;
  text-align: center;
}

.table-content {
  overflow-y: scroll;
  border-collapse: collapse;
  display: block;
}

.table-head {
  height: 70px;
  background-color: #dadde1;
  th {
    font-size: 20px;
    font-weight: 800;
  }
}
th {
  color: #333;
}

th,
td {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  width: 230px;
}
.id-column {
  cursor: pointer;
  text-decoration: underline;
  font-size: 20px;
  font-style: italic;
  color: blue;
}
